
    <container>
        <row class="header">
            <columns>
                    <img src="https://i.imgur.com/StlA7pb.png" class="logo" alt="Panacea Logo">
            </columns>
        </row>

        {% block content %}
        {% endblock %}

        <row class="footer">
            <columns>
                <p>Best regards,</p>
                <p><em>PANACEA TEAM</em></p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Sent with ❤️
                    </div>
                </center>
            </columns>
        </row>
    </container>